body {
    background: #B0E0E6
}

#banner {
    width: 100%;

}

.principal
{
       background:#FFDAB9;
       padding: 30px;

}

.titulo-principal{
         padding-left: 20px;
}

.titulo-centralizado{
         text-align:center

}

p{
   text-align: center;

}

#missao {
    font-size: 20px
} 

em strong {
    color: #E0FFFF;
}

.itens{
       font-style:italic
 
}

.beneficios{
       background:#FFDEAD;
       padding:20px;

}

ul{
      display:inline-block;
      vertical-align:top;
      width:20%;
      margin-right:15%;

}

.imagembenefÍcios{
      width:50%;

}
